bandit>=1.7.1
black>=21.10b0
flake8>=4.0.1
gitchangelog>=3.0.4
memory_profiler>=0.59.0
mypy>=0.920
pycodestyle>=2.8.0
pydocstyle>=6.1.1
pylint>=2.12.2
pytest>=6.2.5
pytest-asyncio>=0.16.0
pytest-benchmark>=3.4.1
pytest-cov>=3.0.0
types-ujson>=4.2.0
